.codebox {
  @apply bg-gray-600 text-white rounded-lg p-3 shadow flex flex-col gap-4;
}

.codebox__topbar {
  @apply flex flex-row gap-2;
}

.codebox__topbar__control {
  @apply h-3 w-3 rounded-full;
}
.codebox__topbar__control--red {
  @apply bg-red-500;
}
.codebox__topbar__control--green {
  @apply bg-green-500;
}
.codebox__topbar__control--yellow {
  @apply bg-yellow-500;
}
