@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-sans bg-gray-800 min-h-screen text-white font-semibold;
}

#root {
  @apply flex flex-row justify-center w-full h-full;
}
